.container {
  margin-top: 1.2rem;
}

.container input,
.container ::-webkit-input-placeholder {
  color: whitesmoke !important;
}
.container input:focus {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid #FF024A;
}

